* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}
nav img {
    width: 150px;
}
.hamburger-menu {
    display: none;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    display: block;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a {
    color: #fff;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s all ease-in-out;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.text-box h1 {
    font-size: 60px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
}
.btn {
    color: #fff;
    padding: 12px 20px;
    border: 1px solid #fff;
    font-size: 13px;
    transition: 1s;
}
.btn:hover {
    border: 1px solid #f44336;
    background-color: #f44336;
}

/* Courses */
.courses,.campus,
.facilities,.testimonials {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}
.courses h1,.campus h1,.testimonials h1,.facilities h1{
    font-size: 36px;
    font-weight: 600;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.card {
    background-color: #fff3f3;
    padding: 20px 12px;
    margin-top: 80px;
    border-radius: 10px;
}
.card:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.card h4 {
    margin: 10px 0;
}
.courses p,.card p,
.campus p,.testimonials p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #777;
}
/* Campus */
.campus img {
    width: 100%;
    height: 100%;
}
.campus-image {
    position: relative;
    overflow: hidden;
    margin-top: 80px;
    border-radius: 10px;
}
.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3 {
    opacity: 1;
    bottom: 50%;
}
/* facilities */
.facilities {
    margin-bottom: 80px;
}
.facilities-card {
    margin-top: 80px;
    text-align: left;
}
.facilities-card img{
    width: 100%;
    border-radius: 10px;
}
.facilities h4,.testimonials h4 {
    font-weight: 600;
    margin-top: 15px;
}
.facilities p,.footer p {
    font-size: 14px;
    color: #777;
    padding-top: 20px;
}
/* testimonials */
.testimonials-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.testimonials-card {
    display: flex;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 80px;
}
.testimonials-card img {
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 30px;
}
.testimonials-card .fa-star,.fa-star-half-stroke {
    color: #f44336;
    font-size: 15px;
}
/* call to action */
.call-to-action {
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    border-radius: 10px;
}
.call-to-action h1 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 600;
}
/* footer */
.footer {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.footer h4 {
    font-weight: 600;
    margin-bottom: 20px;
}
.footer .fa-brands {
    color: #f44336;
    margin-right: 20px;
    font-size: 25px;
    margin-top: 30px;
    cursor: pointer;
}
.footer .fa-heart {
    color: #f44336;
    margin-bottom: 40px;
}

/* ------about us page------- */
.sub-header {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
}
.sub-header h1 {
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}
.about-col {
    width: 80%;
    margin: 150px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.about-col img {
    width: 100%;
    border-radius: 10px;
}
.about-col h1 {
    font-size: 45px;
    font-weight: 600;
}
.about-col p {
    font-size: 17px;
    color: #777;
    padding-top: 25px;
    padding-bottom: 30px;
}
.about-col .btn {
    color: #f44336;
    border: 1px solid #f44336;
}
.about-col .btn:hover {
    color: #fff;
}

/* -------course page------- */
.course-content {
    width: 80%;
    margin: 150px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}
.course-col img {
    width: 100%;
}
.course-col h3 {
    margin-top: 25px;
    margin-bottom: 40px;
    font-weight: 600;
}
.course-col p {
    font-size: 17px;
    color: #777;
}
.course-col .comment-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}
.comment-box input,.comment-box textarea {
    display: block;
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 40px;
    background-color: gray;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #f0f0f0;
}
.comment-box .btn {
    color: #f44336;
    border: 1px solid #f44336;
}
.comment-box .btn:hover {
    color: #fff;
}
.course-col h4 {
    background-color: #f44336;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 0;
    margin-bottom: 20px;
}
.category-container div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    font-size: 17px;
}
/* ------contact us page------- */
.location {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}
.location iframe {
    width: 100%;
}
.contact-us {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-col div{
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 30px;
}
.contact-col h4 {
    font-weight: 500;
}
.contact-col p {
    font-size: 16px;
    color: #555;
}
.contact-col i {
    color: #f44336;
    font-size: 28px;
    margin: 10px;
}
.contact-col input,.contact-col textarea {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px 10px;
    border-radius: 7px;
    outline: none;
}
.contact-col .btn {
    color: #f44336;
    border: 1px solid #f44336;
    margin-bottom: 80px;
}
.contact-col .btn:hover {
    color: #fff;
}
@media screen and (max-width: 620px) {
    .text-box h1 {
        font-size: 40px;
    }
    .hamburger-menu {
        display: block;
        margin-bottom: 15px;
    }
    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        left: -100%;
        top: 45px;
        width: 100%;
        background-color: #f44336;
        text-align: center;
        transition: 0.5s;
    }
    .nav-links.active {
        left: 0;
    }
    .grid,.testimonials-grid,
    .course-content,.contact-us {
        display: grid;
        grid-template-columns: 1fr;
    }
    .call-to-action h1 {
        font-size: 30px;
    }
    .about-col {
        display: grid;
        grid-template-columns: 1fr;
    }
}